<template>
  <v-container class="grey lighten-5">
    <v-row no-gutters>
        <v-col :cols="2"></v-col>
      <v-col :cols="8">
        <v-row>
          <v-col :cols="8">
            <v-row>
              <v-col :cols="4">
                <v-container fluid>
                  <v-select
                    v-model="selectedType"
                    :items="filterType"
                    label="Filter by Type"
                    multiple
                    chips
                  >
                  </v-select>
                </v-container>
              </v-col>

              <v-col cols="4">
                <v-container fluid>
                  <v-select
                    v-model="selectedPostcode"
                    :items="filterPostcode"
                    label="Filter by PostCode"
                    multiple
                    chips
                  >
                  </v-select>
                </v-container>
              </v-col>
            </v-row>
          </v-col>
          <v-col :cols="4">
            <v-text-field
              @keyup="searchData"
              v-model="search"
              label="Search"
            ></v-text-field>
          </v-col>
        </v-row>

        <v-card class="pa-2" tile outlined>
          <v-simple-table dense>
            <template v-slot:default>
              <thead>
                <tr>
                  <th
                    v-for="(th, index) in columns"
                    :key="index"
                    class="text-left"
                  >
                    {{ th.text }} 
                    <span v-if="th.sortable" class="order-class"> 
                        <p @click="asc = !asc"> 
                            <i v-if="asc">asc ↑</i>
                            <i v-else>desc ↓</i>
                        </p>
                    </span>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(td, index) in visibleData"
                  :key="index"
                  :visibleData="visibleData"
                  :currentPage="currentPage"
                >
                  <td>{{ td.id }}</td>
                  <td>{{ td.comments }}</td>
                  <td>{{ td.type }}</td>
                  <td>{{ td.postcode }}</td>
                </tr>
              </tbody>
            </template>
          </v-simple-table>
        </v-card>
        <v-row>
          <v-col :cols="8"></v-col>
          <v-col :cols="4">
            <pagination
              :totalEnqueries="tableEnqueries"
              v-on:page:update="updatedPaginate"
              :currentPage="currentPage"
              :pageSize="pageSize"
            ></pagination>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from 'axios';
import Pagination from '../components/Pagination.vue';
import _ from 'lodash';

export default {
    name : 'Dashboard',
    components: {
        Pagination,
    },

    data () {
        return {
            // search & filter
            search: '',
            asc: true, 

            // filter
            selectedType:[],
            selectedPostcode: [],

            columns: [
                {name:'id', text:'ID', sortable:true},
                {name:'comments', text:'Comments'},
                {name:'type', text:'Type'},
                {name:'postcode', text:'Postcode'},
            ],
            tableEnqueries: [],
            originEnqueries: [],
            currentPage:0,
            pageSize: 5,
            visibleData: [],
        }
    },

    watch : {
        selectedType() {
            this.filterTableData();
        },
        selectedPostcode() {
            this.filterTableData();
        },

        // sorting order watcheer
        asc() {
            this.sortedEnqueries(); 
        }
    },

    created () {
        this.gettableData();
    },
    computed: {
        filterType () {
            return [...new Set(this.originEnqueries.map(x => x.type))];
        },

        filterPostcode() {
            return [...new Set(this.originEnqueries.map(x => x.postcode))];
        },
    },

    methods: {
        /**
         * Get Data table enquiries
         */
        gettableData () {
            axios.get('api/enqueries')
                      .then(res => {
                            this.tableEnqueries = res.data.enqueries;
                            this.originEnqueries = res.data.enqueries;
                            this.updatedData();
                      })
                      .catch(error => {
                          console.log(error);
                      });
        },

        /**
         * Pagination methods starts
         */

        updatedPaginate(pageNumber) {
            this.currentPage = pageNumber;
            this.updatedData();
        },

        updatedData () {
            this.visibleData = this.tableEnqueries.slice(this.currentPage * this.pageSize, (this.currentPage * this.pageSize) + this.pageSize);

            // if no data redirect back
            if (this.visibleData.length == 0 && this.currentPage > 0) {
                if (this.currentPage > 0) {
                    this.updatedPaginate(this.currentPage -1);
                } 
               
            } else {
                if (this.currentPage < 0) {
                    this.currentPage = 1; 
                    this.updatedPaginate(this.currentPage);

                }
                     

            }
        },

        /**
         * Pagination methods ends
         */

        /**
         * Debouncing search for 3 mili second
         */
        searchData: _.debounce(function(){
            if (this.search == "") {
                this.tableEnqueries = this.originEnqueries;
                this.filterTableData(); 
            } else {

                let fitleredresult;
                if (this.selectedType.length != 0 && this.selectedPostcode.length != 0) {
                    this.filterTableData();
                    fitleredresult = this.tableEnqueries;
                } else {
                    fitleredresult = this.originEnqueries;
                }

                var searchResults = [];
                fitleredresult.forEach((data) => {
                    let value = false;
                    for (const x of Object.values(data)) {

                        if(x.toString().includes(this.search) === true) {
                            value = true;
                            // return;
                        }
                    }
                    if (value) {
                        searchResults.push(data);
                    }
                })
                
                this.tableEnqueries = searchResults;
            }
                this.updatedData();

        }, 300),

        /**
         * both type and post code filter logic 
         */
        filterTableData () {

            let resultData;

            if (this.search != "") {
                
                resultData = this.tableEnqueries
                // this.searchData(); 
            } else {
                resultData = this.originEnqueries; 
            }
            
          
            if(this.selectedType.length == 0 && this.selectedPostcode.length != 0) {
                console.log('postcode');
                this.tableEnqueries = resultData.filter((filteredData) => {
                    if ((this.selectedPostcode.includes(filteredData.postcode))) {
                        return true;
                    } else {
                        return false;
                    }
                })

            }else if(this.selectedPostcode.length == 0 && this.selectedType.length != 0) {
                console.log('type');

                this.tableEnqueries = resultData.filter((filteredData) => {
                    if ((this.selectedType.includes(filteredData.type))) {
                        return true;
                    } else {
                        return false;
                    }
                })

            } else if (this.selectedPostcode.length != 0 && this.selectedType.length != 0){
                console.log('both');

                this.tableEnqueries = resultData.filter((filteredData) => {
                    if ((this.selectedType.includes(filteredData.type)) && (this.selectedPostcode.includes(filteredData.postcode))) {
                        return true;
                    } else {
                        return false;
                    }
                })

            } else {
                this.tableEnqueries = resultData;

            }
            this.updatedData();
        },

        /**
         * sorted enqueries
         */
        sortedEnqueries () {

            if (this.asc) {
                this.tableEnqueries = this.tableEnqueries.sort(function(a, b){return b.id-a.id});
            } else {
                this.tableEnqueries = this.tableEnqueries.sort(function(a, b){return a.id-b.id}); 
            }
            this.updatedData(); 
        }, 
    },
}
</script>

<style>
.order-class {
    font-weight: 600;

}
.order-class:hover {
    color:rgb(75, 136, 185); 
    cursor: pointer;
}
</style>
