<template>
  <div v-if="totalPages() > 0" class="text-center">

     Showing page {{currentPage +1}} of {{totalPages()}} Pages
    <v-pagination
      v-model="page"
      :length="totalPages()"
      circle
      @previous="updatePage(currentPage - 1)"
      @next="updatePage(currentPage + 1)"
      :total-visible="0"
    ></v-pagination>
  </div>
</template>

<script>
export default {
    name: 'Pagination',
    props: ['totalEnqueries', 'currentPage', 'pageSize'],

    data() {
        return {
            page: 1,
        }
    },

    methods: {
        updatePage(pageNumber) {
            this.$emit('page:update', pageNumber);
        },
        totalPages() {
            return Math.ceil(this.totalEnqueries.length / this.pageSize);
        },
        showPreviousLink () {
            return this.currentPage == 0 ? false :true;
        },
        showNextLink () {
            return this.currentPage == (this.totalPages() -1) ? false : true;
        }
    },

}
</script>

<style></style>
